* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-bottom: 3em;
    min-height: 100vh;
}
.about__header h1 {
    font-size: 2rem;
    margin: 1em 0;
}

.about__header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about__header {
    text-align: center;
    margin-bottom: 2em;
}

.about__text {
    margin: 1em 0;
}

@media (width > 980px) {
    main {
        margin: 1em 15em;
    }
}