* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* margins top/bottom for all elements */

.title, .meta, .ingredients, .preparation {
    margin: 1.5em 0;
}

/* ==== recipe-header start==== */
.recipe-header {
    position: relative;
}

.recipe-header img {
    width: 100%;
}

.recipe-header .tag {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: #008C45;
    padding: .5em 1em;
    color: white; 
}

.recipe-header .tag-month {
    position: absolute;
    bottom: 1em;
    width: 100%;
    background-color: hsl(357, 72%, 47%);
    color: white;
    padding: .7em 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* ==== recipe-header end ==== */

.title  {
    font-size: 1.8rem;
}

/* ==== recipe-meta start ==== */

.meta__time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
}

.time, .difficulty {
    display: flex;
}

.meta__time .icon,
.meta__utensils .icon,
.meta__utensils__list li {
    margin-right: .8em;
}

.meta__utensils {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.meta__utensils__list {
    display: flex;
    flex-wrap: wrap;
}

.meta__utensils__list li {
    list-style: none;
}

.meta__utensils__list li::after {
    content: '|';
    margin-left: .8em;
}

/* ==== recipe-meta end ==== */

/* ==== ingredients start ==== */

.ingredients ul {
    margin-left: 1.8em;
}

.ingredients h3 {
    margin-top: 1em;
}

/* ==== ingredients end ==== */

/* ==== preparation start ==== */

.preparation span {
    background-color: #008C45;
    color: white;
    padding: .2em .4em;
    border-radius: 50%;
}

.preparation p,
.preparation__title{
    margin-bottom: 1em;

}

.preparation__number {
    text-align: center;
    font-size: 1.2rem;
}

/* ==== preparation end ==== */