* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== Colors ==== */

:root {
    --primary-color: #008C45;
    --highlight-color: #CD212A;
}

/* ==== Colors end ==== */

.icon {
    width: 1.2rem;
}

/* ==== header start ==== */

header {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1em 1em .5em;
    z-index: 100;
}

.logo {
    width: 6em;
}

.header__nav1, .header__nav2 ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav1 {
    justify-content: space-between;
}

.header__nav2 ul {
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1em 0;
    padding: .5em 0;
}

.header__nav1 ul {
    display: flex;
}

.header__nav1 ul li, .header__nav2 ul li {
    list-style: none;
}

.header__nav1 ul li {
    margin-right: 1em;

}

.header__nav1 ul li a, .header__nav2 ul li a {
    text-decoration: none;
    color: black;
}

/* ==== header end ==== */

/* ==== main start ==== */

main {
    margin: 1em 1.6em;
    min-height: 100vh;
}

.container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 2em;
}

.food {
    min-height: 30vh;
    /* same background-image properties for all food items */
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.7);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.food1 {
    background-image: url(./img/food/burger.jpg);
}

.food2 {
    background-image: url(./img/food/pizza.jpg);
}

.food3 {
    background-image: url(./img/food/salad.jpg);
}

.food4 {
    background-image: url(./img/food/pancakes.jpg);
}

.food5 {
    background-image: url(./img/food/risotto.jpg);
}

.food6 {
    background-image: url(./img/food/salmon.jpg);
}

.food7 {
    background-image: url(./img/food/pasta.jpg);
}

.food8 {
    background-image: url(./img/food/taco.jpg);
}

.food9 {
    background-image: url(./img/food/tiramisu.jpg);
}

/* media queries for tablet and desktop */

@media (480px < width < 770px) {

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .food {
        min-height: 35vh;
    }

    .logo {
        width: 10em;
    }

    main {
        margin: 1em 5em 3em;
    }

}

@media (770px <= width < 980px) {

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .food {
        min-height: 35vh;
    }

    .logo {
        width: 10em;
    }

    main {
        margin: 1em 8em 3em;
    }

}

@media (width >= 980px) {

    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .food {
        min-height: 35vh;
    }

    .logo {
        width: 10em;
    }

    main {
        margin: 1em 15em 3em;
    }

}


/* ==== main end ==== */

/* ==== footer start ==== */

footer {
    background-color: black;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: .5em 0;
}

.footer__nav {
    margin: 0 2em;
}

.footer__nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 1em;
}

.footer__nav ul li {
    color: white;
}

.footer__nav ul li a{
    text-decoration: none;
    color: white
}

.footer__icons {
    display: flex;
    justify-content: center;
}

.footer__icons  .icon {
    margin: 1em .5em;
}

.footer__copy {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
}

/* footer destkop and tablet */

@media (480 < width > 769px) {
    
    .footer__nav {
        margin: 0 10em;
    }
}

@media (width > 770px) {

    .footer__nav {
        margin: 0 17em;
    }

}

/* ==== footer end ==== */

/* ==== Links ==== */

.link:hover,
.link:focus {
    color: var(--highlight-color, red);
}

