* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== footer mobile === */

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 1em;
}

.footer__nav ul li {
    color: white;
}

.footer__nav ul li a{
    text-decoration: none;
    color: white
}

.footer__icons {
    display: flex;
    justify-content: center;
}

.footer__icons img {
    width: 1.4rem;
    margin: 1em .5em;
}

.footer__copy {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1em;
}

/* footer destkop and tablet */
@media (width > 480px) {

    footer {
         padding: 0 10em;
    }
}


/* ==== footer mobile === */