* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    width: 1.2rem;
}

/* ==== header start ==== */

header {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    /* margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em; */
    padding: 1em;
    z-index: 100;
}

.logo {
    width: 6em;
}

.nav1, .nav2 ul {
    display: flex;
    align-items: center;
}

.nav1 {
    justify-content: space-between;
}

.nav2 ul {
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1em 0;
}

.nav1 ul {
    display: flex;
}

.nav1 ul li, .nav2 ul li {
    list-style: none;
}

.nav1 ul li {
    margin-right: 1em;

}

.nav1 ul li a, .nav2 ul li a {
    text-decoration: none;
    color: black;
}

/* ==== header end ==== */

/* ==== main start ==== */

.container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 1em 1.5em;
    min-height: 100vh;
}

.food {
    min-height: 30vh;
    /* same background-image properties for all food items */
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.7);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.food1 {
    background-image: url(./img/food/burger.jpg);
}

.food2 {
    background-image: url(./img/food/pizza.jpg);
}

.food3 {
    background-image: url(./img/food/salad.jpg);
}

.food4 {
    background-image: url(./img/food/pancakes.jpg);
}

.food5 {
    background-image: url(./img/food/risotto.jpg);
}

.food6 {
    background-image: url(./img/food/salmon.jpg);
}

.food7 {
    background-image: url(./img/food/pasta.jpg);
}

.food8 {
    background-image: url(./img/food/taco.jpg);
}

.food9 {
    background-image: url(./img/food/tiramisu.jpg);
}

/* ==== main end ==== */

/* ==== footer mobile start ==== */

footer {
    background-color: black;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: .5em 0;
}

.footer__nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 1em;
}

.footer__nav ul li {
    color: white;
}

.footer__nav ul li a{
    text-decoration: none;
    color: white
}

.footer__icons {
    display: flex;
    justify-content: center;
}

.footer__icons  .icon {
    margin: 1em .5em;
}

.footer__copy {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
}

/* footer destkop and tablet */
/* @media (width > 480px) {

  
} */


/* ==== footer mobile end ==== */